* {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

.title {
  color: #222222;
  margin: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
}

.game-board {
  display: grid;
  background-color: #dcdcdc;
  height: 25rem;
  width: 25rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 0 4px 12px rgba(34, 34, 34, 0.08);
  gap: 4px;
}

.info {
  color: #333333;
  margin: 1rem;
}

.game-square {
  background-color: #ffffff;
  color: #111111;
  text-align: center;
  font-size: 5rem;
  border: none;
}

.reset-button {
  background-color: #ffffff;
  color: #222222;
  box-shadow: 0 4px 12px rgba(34, 34, 34, 0.06);
  margin-bottom: 1rem;
  padding: 0.3rem;
  width: 110px;
  border-radius: 3px;
}

.game-selectors {
  background-color: #ffffff;
  color: #222222;
  box-shadow: 0 4px 12px rgba(34, 34, 34, 0.06);
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.25rem;
  width: 110px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
